<h1>Topic Lists</h1>

<ul>
<% @topics.each do |t| %>
	<li><%= link_to t.title, :controller => 'topic', :action => 'show', :id => t.id %></li>
<% end %>

<br><br><br>
<% if can? :create, Topic %>
<p><%= link_to "Create a New Topic", :controller => 'topic', :action => 'new' %></p>
<% end %>